button.app-button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--s-color)  ;
  color: var(--p-color);
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
}
.app-button:hover {
  background-color: transparent ;
  color: var(--s-color);
  border: 2px solid var(--s-color);

}

.app-button:active{
    scale: 0.9;
}